body {
    background-image: url(../images/Fuo3Gw.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-position-y: 30%;
    background-size: 100%;
    border: 1px double whitesmoke;
    margin: 10% 25% 10% 25%;
    color: whitesmoke;
}

h2 {
    font-family: 'Cinzel', serif;
    font-weight: lighter;
    font-size: 28pt;
    margin: 20px 25% 20px 25%;  
}

h3 {
    font-size: 22pt;
    font-weight: lighter;
    margin: 20px 25% 20px 25%;
}

ul {
    list-style-type: none;
    margin: 20px 25% 20px 25%;
}

li {
    padding: 15px;
    font-size: 18pt;
}

.answer:hover {
    font-weight: bold;
    background-color: rgba(0, 221, 0, 0.315);
    width: 500px;
}

.answer:active {
    opacity: .2;
    width: 500px;
}

#time-remaining {
    color: red;
    font-size: 18px;
}

button {
    margin-top: 20px;
    background-color: black;
    opacity: .5;
    color: white;
    border: 0px;
    border-radius: 5px;
    height: 45px;
    font-size: 18px;
    padding: 10px 20px 10px 20px; 
}

button:hover{
    cursor: pointer;
    opacity: .9;
}
